@charset "utf-8";
body {
  background-color: aqua;
}
h1{color:red;
	text-shadow: 2px 3px blue; 
	text-align: center;
font-size: 60px}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:red;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:blue;}

p{color:blue;  
  font-size:20px;
	text-align: center;
}
img { 
border-color:red; 
border-width: 5px;
margin:2px;
border-style:inset;}
